<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/tatoo.png">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
            <img class="myself" src="/img/profile.jpg">
        </div>
        {{>footbar}}
    </body>
</html>