<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/tatoo.png">
        <link rel="stylesheet" href="/CSS/style.css">
    </head>

    <body>
        <div class="main-content">
                 {{>header}}
            <p>{{helpText}}</p>
        </div>
         <div id="animated-gif-container-help"></div>
       
        {{>footbar}}
    </body>
</html>